@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form enctype="multipart/form-data" method="post" asp-action="GetMagicNumber" asp-controller="Home" class="mt-5">
        <div class="row">
            <label for="magic-number" class="mr-5">Upload a file</label>
            <input type="file" id="magic-number" name="file" />
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
